.wrapper
  .container
    .heading
      \- About Study Quest -
      .sub-heading
        さあ、人生を変える旅に出よう
    .article
      .article__heading
        = image_tag 'landscapes/fantasy-castle.jpg'
      .article__description
        %p
          Study QuestはRPG感覚で学習を続けられるアプリです。
        %p
          仲間とともにモンスターを討伐していくことで、一人では保ちにくいモチベーションを維持して、楽しく各自の学習を続けられます。
        %p
          学習を習慣化させることで、自分の知らない新たな自分に出会いましょう。
      .article__description
        = link_to new_user_registration_path do
          .top-btns
            .top-btn.btn.btn-primary
              Let's Start
      .article__description
        = link_to howto_path do
          .top-btns
            .top-btn.btn
              How to play