*.rbc
*.sassc
.sass-cache
capybara-*.html
.ruby-version
.rspec
.rvmrc
.google_api
/.bundle
/vendor/bundle
/log/*
!/log/.keep
!/log/bigquery
/log/bigquery/*
!/log/bigquery/.keep
/tmp/*
#/db/*.sqlite3
/public/system/*
/public/private_files
/coverage/
/spec/tmp/*
spec/examples.txt
**.orig
rerun.txt
pickle-email-*.html
.project
#config/initializers/secret_token.rb
*.swp
*.swo
.DS_Store
public/uploads/tmp
public/assets
.idea
analytics-v3.cache
sitemap*.xml.gz
application.yml
lib/tasks/data/tc_forum/images/*
.unison*
.env
.overcommit.yml
config/master.key