.notification {
  width: 100%;
  padding-top: 50px;
  opacity: 0.9;

  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}