// enemies#index
.enemy {
  // height: 800px;
  // width: auto;
  // background-image: url('landscapes/wanted-paper');
  // background-size: cover;
  text-align: center;
  margin-bottom: 100px;
  // position: relative;
  &__image {
    margin-bottom: 30px;
    img {
      width: 70%;
      max-height: 400px;
      // position: absolute;
      // top: 250px;
      // left: 100px;

    }
  }
  &__status {
    // position: absolute;
    // top: 650px;
    // left: 200px;
    &--name {
      margin-bottom: 15px;
    }
    &--hp {
      margin-bottom: 15px;
    }
  }
}

// enemies#show
.battle-disp {
  height: calc(100% -50px);
  width: 90%;
  margin: 0 auto;
  .upper-info {
    background-color: black;
    opacity: 0.9;
    padding-left: 30px;
    height: 100px;
    color: #fff;
  }
  .enemy-image {
    height: calc(100% - 200px);
    text-align: center;
    background-image: url('landscapes/desert');
    background-size: cover;
    img {
      width: auto;
      max-height: 70vh;
      max-width: 100%;
    }
  }
  .group-info {
    color: #fff;
    height: 100px;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
  }
}