.group {
  box-shadow: 0 0 8px black;
}

.group-delete {
  margin-bottom: 30px;
}

.group-create {
  margin-bottom: 30px;
}

table {
  text-align: center;
}

.group-form__field {
  input[type="text"] {
    width: 80%;
  }
}