%h1
  NEW
= form_for [@user, @log] do |f|
  .study-date
    =f.label '学習日付：'
    = f.date_field :achieve_ymd
  .study-hours
    =f.label '学習時間：'
    = f.number_field :achieve_time, min: '1', max: '24'
    時間
  = f.submit '登録する', class: 'btn btn_primary send_btn'