logs_show
-# = link_to "/logs/"
-# = select :page, :name, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]]

-# %input{ type: "text", id: "datepicker"}
-# %input{ type: "number" }
-# , url: {controller: logs, action:create }

-# = number_field_tag :achieve_time, nil, in: 1..24